<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ambivalent</string>
	<string>anomaly</string>
	<string>sarcastic, sardonic, snide</string>
	<string>dearth, paucity</string>
	<string>prattle</string>
	<string>wry, droll</string>
	<string>unconventional, unorthodox</string>
</array>
</plist>
